streamlit
requests
flask
flask[async]
flask-cors
llama-index
llama-index-core
llama-index-embeddings-huggingface
llama-index-llms-ollama
sqlalchemy-utils
python-dotenv
pyvi
weaviate-client
Unidecode
sqlparse
python-consul2
python-dotenv