streamlit
requests
flask
flask[async]
flask-cors
llama-index
llama-index-core
llama-index-llms-ollama
llama_index.llms.openai_like
sqlalchemy-utils
python-dotenv
pyvi
weaviate-client
Unidecode
sqlparse
python-dotenv