<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <appender name="ACCESS_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${ACCESS_LOG_PATH:-/dev/null}</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${ACCESS_LOG_PATH:-/dev/null}.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{ISO8601} [%t] [%-5level] %logger{20}:%line:%X{MDC} %msg%n%throwable</pattern>
        </encoder>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{ISO8601} [%t] [%-5level] %logger{20}:%line:%X{MDC} %msg%n%throwable</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
        <if condition='isDefined("ACCESS_LOG_PATH")'>
            <then>
                <appender-ref ref="ACCESS_FILE"/>
            </then>
        </if>
    </root>
</configuration>